@media only screen and (min-width: 600px) {
 * {}

 .hero {
  /*-- scaleX: 25%; ----*/
  background-attachment: scroll;
 }

 .small-screen-bg {
  display: none;
 }



}

@media only screen and (max-width: 600px) {
 * {}

 .hero {
  display: none;
 }

 .subscribe {
  display: block;
  font-size: 1em;
  height: 25vh;
 }




}